.search {
  min-height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: #282c34;
}

.search-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  gap: 10px;
}

.location, .destination {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location-input, .destination-input {
  height: 32px;
  font-size: calc(10px + 1vmin);
}

.search-button {
  height: 32px;
  font-size: calc(10px + 1vmin);
}

.message{
  height: 32px;
  font-size: calc(10px + 1vmin);
  color: white;
}